.contato-grid {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: cover;
  cursor: pointer;
}

.contato-grid h5 {
  grid-column: 1 / -1;
  color: var(--main-color-purple);
  font: var(--text-subtitle);
  text-align: center;
  margin-bottom: 10px;
}

.contato-grid h2 {
  grid-column: 1 / -1;
  color: var(--base-color-600);
  font: var(--text-title-md);
  text-align: center;
  margin-bottom: 10px
}

.contato-grid span {
  color: var(--base-color-gray-light-500);
  font: var(--text-md);
  text-align: center;
  margin-bottom: 48px;
}

.contato-item {
  background-color: var(--base-color-gray-light-dark-300);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 450px;
  gap: 15px;
}

.contato-item img {
  width: 28px;
  height: 28px;
}

.contato-item p {
  color: var(--base-color-gray-light-500);
  font: var(--text-md);
  text-align: start;
}

.contato-item .arrow-icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.contato-item:hover {
  background-color: #2a2a2a; /* Efeito de hover */
}
