* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-asap: "Asap", sans-serif;
  --font-family-inconsolata: "Inconsolata", monospace;
  --font-family-maven: "Maven Pro", sans-serif;

  --main-color-red: #E3646E;
  --main-color-purple: #BB72E9;
  --main-color-blue: #3996DB;
  --main-color-green: #82BC4F;
  --main-color-yellow: #EABD5F;

  --base-color-600: #E2E4E9;
  --base-color-gray-dark-100: #0D0E11;
  --base-color-gray-midle-dark-200: #16181D;
  --base-color-gray-light-dark-300: #292C34;
  --base-color-gray-midle-400: #878EA1;
  --base-color-gray-light-500: #C0C4CE;
  --base-color-gray-lightest: rgb(226, 228, 233, 0.1);

  --text-title-lg: 700 3.5rem/120% var(--font-family-asap);
  --text-title-md: 700 1.5rem/120% var(--font-family-asap);
  --text-title-sm: 700 1rem/120% var(--font-family-asap);
  --text-subtitle: 400 1.25rem/120% var(--font-family-inconsolata);
  --text: 400 1rem/120% var(--font-family-maven);
  --text-md: 400 1rem/140% var(--font-family-maven);
  --text-sm: 400 0.875rem/140% var(--font-family-maven);
}

body {
  font: var(--text);
  background-color: var(--base-color-gray-light-dark);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--base-color-600);
}

p {
  color: var(--base-color-gray-light-500);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* Responsividade para telas pequenas (smartphones) */
@media (max-width: 768px) {
  .header-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header-grid .social-media ul {
    justify-content: center;
  }

  /* Ajustes para os projetos */
  .trabalhos-grid {
    grid-template-columns: 1fr;
  }

  /* Ajustes para os serviços */
  .servicos-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  /* Header Grid para telas muito pequenas */
  .header-grid {
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .header-grid .logo img {
    width: 80px;
  }

  .header-grid .header-text h1 {
    font-size: 1.5rem;
  }

  /* Trabalhos Grid para smartphones */
  .trabalhos-grid {
    padding: 30px 10px;
  }

  /* Serviços Grid para smartphones */
  .servicos-grid {
    padding: 30px 10px;
  }

  /* Contato Grid para smartphones */
  .contato-grid {
    padding: 30px 10px;
  }

  .contato-grid form {
    padding: 10px;
  }

  .contato-grid button {
    padding: 10px;
    font-size: 1rem;
  }
}

/* Responsividade para telas maiores (desktops grandes) */
@media (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  .header-grid {
    padding: 30px;
  }

  .trabalhos-grid {
    padding: 80px 40px;
  }

  .servicos-grid {
    padding: 80px 40px;
  }

  .contato-grid {
    padding: 80px 40px;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .tecnologias-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Ajusta as colunas para telas menores */
    gap: 10px;
  }
}