.servicos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  gap: 20px; /* Espaçamento entre os itens */
  padding: 88px 20px 120px;
  background-color: var(--base-color-gray-dark-100);
}

.servicos-grid h4 {
  grid-column: 1 / -1;
  color: var(--main-color-red);
}

.servicos-grid h2 {
  grid-column: 1 / -1;
  margin-bottom: 56px;
}


.servico {
  grid-column: 1 / -1;
  border: 1px solid var(--base-color-gray-midle-dark-200);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  text-align: start;
}

.servico img {
  margin-bottom: 20px;
  font: var(--text-title-sm);
}

.servicos-grid .servico h5 {
  font-weight: bold;
  color: var(--base-color-600)
}

.servicos-grid .servico p {
  color: var(--base-color-gray-light-500);
  font: var(--text-sm);
}